<div>
    <h2>My Notes</h2>
    	<% FOR note IN notes %>
			<div>
					<li> 
						<p>Title: <% note.title %></p>
						<p>Creation Date: <% note.create_time %> </p>
						<p>Text: <% note.text %></p>
					</li>
			</div>
		<% END %>
</div>    