<!doctype html>
<head>
    <title>Notes</title>
</head>

<html>
<body>
    <!-- Авторизация -->
    <div class="b-auth b-block">
        <h2>Auth</h2>
        <form type = "post">
            <p><input type="text" name="username" placeholder="username" /></p>
            <p><input type="password" name="password" placeholder="password" /></p>
            <p><input type="submit" value="Login" /></p>
        </form>
    </div>
</body>
</html>
