<div>
	<% IF error %>
			<li>Error:</li>
			<li><% error %></li>
	<% ELSE %>
    	<h2>Note</h2>
    	<div>
			<li><% title %></li>
			<li><% create_time %></li>
			<li><% text %></li>
		</div>
	<% END %>
</div>    